.metadata
.recommenders
.classpath
.project
/RemoteSystemsTempFiles
/SchedulingResearch/.classpath
/SchedulingResearch/.project
/SchedulingResearch/.svn
/SchedulingResearch/.settings
/SchedulingResearch/bin
/bin
